@{
    ViewBag.Title = "UR HomeWork";
}

<div class="jumbotron">
    <h1>UR HomeWork</h1>
</div>

<div>
    <a href="/Account/LoginPage/" class="btn btn-primary btn-lg">LoginPage</a>
    <a href="/Account/SingupPage/" class="btn btn-primary btn-lg">SingupPage</a>
</div>
